.container-clock{
  display: inline-block;
  position: absolute;
  left: 5vw;
  top: 5rem;
  .clock{
    width: 10vw;
    height: 10vw;
    position: relative;
    z-index: 1;
    .arrow{
      display: block;
      width: 1px;
      height: 25%;
      border: 1px solid red;
      transform-origin: left bottom;
      animation: arrow 1s linear 12 forwards;
      position: absolute;
      left: 50%;
      top: 25%;
      z-index: 1;
      &:after{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 0.5vw solid red;
        border-left: 0.5vw solid transparent;
        border-right: 0.5vw solid transparent;
        position: absolute;
        left: calc(100% - 0.5vw);
        bottom: 100%;
      }
    }
    @keyframes arrow {
      from{}
      to {
        transform: rotate(360deg);
      }
    }
    .arrow-m{
      @extend .arrow;
      animation: arrow-m 12s linear forwards;
    }
    @keyframes arrow-m {
      from{}
      to {
        transform: rotate(360deg);
      }
    }
    .round{
      width: 10%;
      height: 10%;
      background-color: orange;
      border-radius: 50%;
      position: absolute;
      left: 45%;
      top: 45%;
      z-index: 1;
    }
    .watch-img{
      width: 12vw;
      position: absolute;
      left: calc(50% - 6vw);
      top: calc(50% - 6vw);
    }
  }
  .moon{
    width: 10vw;
    transform: rotate(-30deg);
    animation: moon 1s linear infinite alternate;
    transform-origin: top;
    text-align: center;
    .line{
      width: 1px;
      height: 7vw;
      border: 1px solid red;
      margin: 0 auto;
    }
    .moon-img{
      width: 8vw;
    }
    .santa-img{
      width: 8vw;
      position: absolute;
      left: 30%;
      transform: rotateY(45deg);
  }
    @keyframes moon {
      from{}
      to{
        transform: rotate(30deg);
      }
    }
  }
}

