.container-letter{
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.container-hny{
  position: relative;
  height: 100vh;
  overflow: hidden;
  @include rocket(1,5,45,3,5);
  @include rocket(6,14,-4,15,5);
  @include rocket(15,17,-46,27,5);
  @include rocket(18,22,-74,39,5);
  @include rocket(23,25,-102,52,5);
  @include rocket(26,29,-126,64,5);
  @include rocket(30,34,-157,76,10);
}
